// 
// Typography
// 

@font-face{
    font-family: "TuskerGrotesk";
    src: url("../fonts/TuskerGrotesk-4500Medium.ttf") format("truetype");
  }

$font-family: "TuskerGrotesk",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
'Noto Color Emoji';

$headings-font-family:  "TuskerGrotesk",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
'Noto Color Emoji';

$headings-font-weight: 700;
